/*Fonts*/
@font-face {
    font-family: 'Mathilde';
    src: url('mathilde-webfont.eot');
    src: url('mathilde-webfont.eot?#iefix') format('embedded-opentype'),
         url('mathilde-webfont.woff') format('woff'),
         url('mathilde-webfont.ttf') format('truetype'),
         url('mathilde-webfont.svg#gooddogregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chopinscript';
    src: url('chopinscript-webfont.eot');
    src: url('chopinscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('chopinscript-webfont.woff') format('woff'),
         url('chopinscript-webfont.ttf') format('truetype'),
         url('chopinscript-webfont.svg#gooddogregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { font-family: 'Mathilde', Arial, sans-serif;font-size:2em}



/*Disposition des blocs*/

body{background-color:#7eb612; width:100%}

.page {
    width: 80%;
    max-width:40em;
    min-width:30em;
        background: none repeat scroll 0 0 transparent;
        border: none;
        box-shadow: none;
}

.hornav {
    background-color: transparent;
    border:none;
   }
   
.hornav .on { background:transparent;} 

/*Titres*/

.h1 a{
	color:#FFFFFF;
	font-size: 110%; 
	text-transform: uppercase; font-family: 'Mathilde', Arial, sans-serif;
	font-weight: 800;
	}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,label {color: #7EB612;font-family: 'Mathilde', Arial, sans-serif;text-transform: capitalize;font-weight:bold}
  
#container{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    margin: 1em auto;
    padding: 1em 2em;
    border-radius:2em;
	box-shadow:0 0 0.2em 0.2em rgba(255, 255, 255,0.99);
    behavior: url(/PIE.htc); 	
}



/*Menus*/


span.sep {
    display: inline;
}

.resume .liste-items .item {
    padding: 0.5em;
}


p {font-size:1.5em}

.meta-publi{font-size:1.6em}

.liste h2{display:none}
/*liens*/
a{color:#7eb612}
.hornav  a{
	color:#FFFFFF; 
	font-size: 1.5em;
	}
.hornav .item a:hover{background:none transparent;}

.hornav .item a {
    color: #FFFFFF;
    font-size: 2em;
    padding: 0.5em 0.5em 0 0.5em}

.hornav .on a{ 
	color:#000000;
	background:transparent;
} 


#hierarchie, #hierarchie a,.h2, .h2 a, .h2 a:focus, .h2 a:hover, .h2 a:active {
    color: #7EB612;
}

#footer a{color:#FFFFFF}

/*bulles*/
.bulles{position: absolute;  width:10em;}
.top{right:0;top:0;}
.bottom{left:-5em;bottom:5em; width:5em}
.bulles span {
	display:block;
	border-radius: 45px;
	background:#FFFFFF;
	opacity:0.5;
	padding:0;
	position:absolute;
	behavior: url(/PIE.htc); 	
	}
	
.bulle_1{
	width:1em; 
	height:1em;
	line-height: 1em;
	top:0.5em;
	right:0}
	
.bulle_2{height: 2em;
    line-height: 1em;
    right: 2.9em;
    top: 1em;
    width: 2em;}
    
.bulle_3{
	width:0.5em; 
	height:0.5em;
	line-height: 
	0.5em;
	top:1.5em;
	right:0.75em}
	
.bulle_4{height: 1.5em;
    line-height: 1.5em;
    right: 1.3em;
    top: 3em;
    width: 1.5em;}
    
.bulle_5{
    height: 0.25em;
    line-height: 0.25em;
    right: 0.25em;
    top: 2.5em;
    width: 0.25em;
}

.bottom .bulle_1{left:0}
.bottom .bulle_2{left: 2.9em;}
.bottom .bulle_3{left:0.75em}
.bottom .bulle_4{left: 1.3em;}
.bottom .bulle_5{left: 0.25em;}

.boutons_edition div{
	margin:0 0 0.2em 0;text-align:center;padding:0.2em;
	}

.boutons_edition div a{
	border:2px #4d4d4d solid;
	background: none repeat scroll 0 0 #7EB612;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 2px 2px 2px #888888;
    color: #FFFFFF;
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    padding: 0.2em 0.5em 0;
    width: 80%;
    behavior: url(/PIE.htc); 	
}

.boutons_edition div a:hover, .boutons_edition div a:hover:active{
	background: none repeat scroll 0 0 #98b612;
	text-shadow:1px 1px #000000;
	box-shadow : inset 2px 2px 1px #888888;
	text-decoration:none;
	text-shadow:1px 1px #888888;	
	behavior: url(/PIE.htc);
 	}

.item .spip_doc_titre{text-align:left;}


#outils{line-height:normal; font-size:0px}

/*Formulaires*/



form{width:98%;font-size:80%;line-height:normal}

input {width:auto;font-size:80%}

div#fichier_upload__new_wrap{width:100% !important;overflow:hidden}

.formulaire_spip h3, .formulaire_spip .h3 {
    font-size: 80%;
    margin-bottom: 0;
}

.formulaire_spip .boutons {

    margin: 0;
}

.markItUp .markItUpTabs {
font-family: Arial,sans-serif;
font-size:0.6em;
}
